<div style="padding-bottom: 35px; font-family:georgia,garamond,serif; ">
	<div style=" padding-top: 30px;">
		<h1 style="padding-bottom: 25px; padding-left:200px">My Favorite Movies - </h1>
		<input type="txt" name="movie" ng-model="movie">
		<div style="text-align: center;">
		<ul>
			<li><img src="image/movie/movie1.jpg" height="300px">
			<h2 style="padding-top: 20px;">{{movie_1[0]}}</h2>
			<p>
				{{movie_1[1]}}<br>
				{{movie_1[2]}}<br>
				{{movie_1[3]}}<br>
			</p>
			<hr width="80%"></li>

			<li><img src="image/movie/movie2.jpg" height="300px" style="padding-top: 30px;">
			<h2 style="padding-top: 20px;">{{movie_2[0]}}</h2>
			<p>
				{{movie_2[1]}}<br>
				{{movie_2[2]}}<br>
				{{movie_2[3]}}<br>
			</p>
			<hr width="80%"></li>

			<li><img src="image/movie/movie3.jpg" height="200px"  style="padding-top: 30px;">
			<h2 style="padding-top: 20px;">{{movie_3[0]}}</h2>
			<p>
				{{movie_3[1]}}<br>
				{{movie_3[2]}}<br>
				{{movie_3[3]}}<br>
				{{movie_3[4]}}<br>
				{{movie_3[5]}}<br>
				{{movie_3[6]}}<br>
			</p>
			<hr width="80%"></li>
		</ul>

		</div>


	</div>
</div>